/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



/* Text and Background colors */
.nav-back
{
    background-color: white;
}
.bgcolor{
    background-color: #F6F8FF;
}

.greencolor
{
    color: #23CE6B;
}
.whitecolor
{
    color:#fff
}

/* ----------------------------------------- */

body{
    background-color: #F6F8FF;
    font-family:Poppins;

}
/* NAV BAR */
li{
    padding: 7px;
    font-family: Poppins;
    font-size:15px;
    
}
.collapse ul.navbar-nav>li>a {
    color: #272D2D;
    padding: 5px;
}
.collapse ul.navbar-nav>li>a:hover
{
    color: #fff;
    background-color: #23CE6B;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 5px;

}
.welcome-text{
    padding:20px;
    margin: 85px ;
}

.welcome-image{
    /* padding:80px; */
    height:500px;
}

.skills-image{
    padding: 0;
}

/* Skills Section */

.skill-list p{
    padding: 10px;
}



/* Project Section */

.project-section{
    padding:30px;
}


@media only screen and (max-width:750px){
    .welcome-text{
        margin-left: 20px;
    }
}

@media only screen and (max-width:580px){
   .welcome-image{
       display:none;
   }
}